/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * School of Synthesis theme Syntactically Awesome StyleSheet (SASS)
 *
*  Index
 *  -----------
 *  1. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebar
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
*/
@import "css3";
@import "960/grid";
@import "base";

/* Variables ******************************/
$gold: #b5aa79;
$base_font_size :14;
$base_font_size_px :14px;

/* Mixins **********************************/
@mixin font_in_em($size_in_px) {
  font-size: #{$size_in_px / $base_font_size}em;
}


@mixin gold-bottom {
  border-bottom:13px solid $gold;
}
@mixin back-stripe {
  background:url(../images/bg_stripe.png) repeat;
  li {
  list-style-image:none;
  list-style-type:none;
}


}


/*         General Sitewide Styles
 *************************************************/
/* Layout */

/* General Styles (Colors, Backgrounds etc.)*/

#main ,#footer, #header{
  @include alpha;
  @include omega;
  width:100%;
}
body {
  background-color: #f1f1f1;
}


body .contextual-links-region {
  position: static;
}

a.ce-big {
  background: url(../images/ec_back_big.png) repeat-x;
   @include font_in_em(28);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:15px 15px 10px;
  width:125px;
  display:block;
}

.ce-medium {
  background: url(../images/ec_back_medium.png) repeat-x;
   @include font_in_em(16);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:8px 10px 5px 10px;
 border:none;
min-width:80px;
}

.ce-small {
  background: url(../images/ec_back_small.png) repeat-x;
   @include font_in_em(16);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:8px 10px 5px 10px;
  display:block;
}
.small_grey {
@include font_in_em(12);
}

body a:hover {
 color:$gold !important;
 
}

hr.gold {@include gold-bottom;border-top:none;}

body a.ce-big:hover , body a.ce-medium:hover , body a.ce-small:hover  {
  color:#000 !important;
}

body a {outline:none;color: #000;font-weight: normal; }

body a:visited  {outline:none;color: #000;font-weight: normal;outline: none; }

body a:active {outline:none;}

body a:focus {outline:none;}

.one-sidebar.sidebar-first #main {
  padding-top: 10px;}

.field-name-body p a {text-decoration: underline}

 .play-cover{
      position:absolute;
      top:0;
      left:0;
      }

/* Typography */

/* Links */

/* header */

header#header {
  height:175px;
  position: relative;
  border-bottom: 13px solid #000;
}

header #logo {
  margin-top: 50px;
}

body.front .region-header .menu li a {
 border-bottom: 13px solid #000;
}

.region-header .menu {
  padding:0;
  float:right;
  margin:0;
  position: absolute;
  bottom:-13px;
  right:0;
  li {
    float:left;
    list-style-image: none;
    margin: 0px;
    padding:0;
    list-style-type: none;
    height: 43px;

      a {
      @include font_in_em(20);
      font-weight:bold;
      color: #000;
      text-decoration: none;
      height: 30px;
      display:block;
     
    }
    a.active  {
      border-bottom: 13px solid $gold;
      color:$gold;
    }
    a:hover  {
      color:$gold;
    }
    
    ul {display:none}
    
    
  }
  
  li.active-trail a {
    border-bottom: 13px solid $gold;
      color:$gold;
  }


    .about {width:83px}
    .news {width:77px}
    .courses {width:105px}
    .tutorials {width:108px}
    .contact {width:99px}
.events {width:85px}
}

body.logged-in #header-back {
  top: 65px;
}
#header-back {
  background-color: #eaeaea;
  height:175px;
  position: absolute;
  z-index: -1;
  width: 100%;
  top:0;
}



/* Sidebar*/
#sidebar-first {
  @include alpha;
  h2 {font-size: 2em;
    font-weight: bold;
    margin: 40px 0 20px 0;}
}

/* Footer */
footer#footer {
  background: url(../images/footer_back.png) no-repeat;
  padding-top:20px;
  text-align: center;
  margin: 50px 0 20px 0;
    ul li {
    list-style-type:none;
    float:left;
    margin-right: 20px;
    }
    a {text-decoration: none;}
}

/* Footer */
footer ul {
  display:block;
  width: 350px;
  margin: 0 auto;
}

/*         Front Page
 *************************************************/
.region .block-simplenews {

    h2{
      @include font_in_em(28);
        padding:20px;
    
    }
    .content { margin: 0px 0 0 20px; }
    background: url(../images/bg_stripe.png) repeat-y;
padding-bottom:20px;
p { margin-top:0;}
}

#show-reel {
  height:380px;
  background-color: #000;
  width:100%;
  margin-bottom:50px;
  padding-bottom: 50px;
  background: url(../images/footer_back.png) no-repeat 70px bottom  ;
}

.front-column {
  @include fluid-grid(4);
  margin-left: 3.2% !important;
  margin-right: 3.2% !important;
    width: 29% !important;
  h2 {@include font_in_em(42);margin:5px 0 0 0; line-height: 1em;}
  
}

.fc-three {
  @include omega;
   margin-right: 0 !important;
}

.fc-one   {
  @include alpha;
  margin-left: 0 !important;
}


#block-views-news-block  {
  a { 
   text-decoration: none;
   color:#000;
   display: block;
   margin-bottom: 15px;
  }
  img {margin-bottom: 10px;}
  .views-row {
    border-bottom:1px solid #cbcaca;
    padding: 20px 0 10px 0;
    a:hover {color:#000 !important;}
  }
  p {margin: 0;}
  h2 {@include font_in_em(28);}
  .views-row {
    h3 {@include font_in_em(16);}
    a { display: block;
    font-weight: bold;
    margin-top: 5px;
    }
  }
}

.front-column section#block-views-news-block,.front-column section.block-imageblock, .front-column .block-block {
  @include gold-bottom;
  margin-bottom:20px;
}

.fc-two  h3 {@include font_in_em(16);}
 
.front-column section.block-imageblock  {
  h2 {
    display:none;
  }
  h2.main-title {
    display:block;
    @include font_in_em(16);
    margin:40px 0 20px 0;
  }
  .block-image {
    text-align: center;
    padding-top: 30px;
  }
  
  a {
    color:#000;
    font-weight: bold;
    text-decoration: none;
  }
}
#block-views-courses-block-2 {
    h2 {
    @include font_in_em(28);
    padding:20px;
    
  }

    .video-box {

        img {padding-left:22px}

        .vjs-big-play-button  {
            width:60px;
            height:60px;
            border-radius:15px;
            left:140px;
        }

    }

  

  strong {
    padding:10px 0 20px 0px;
    display:block;
  }

  background: url(../images/bg_stripe.png) repeat-y;
  
  li {
     list-style:none;
     position:relative;
    
  }
  
  a {text-decoration: none;}
}

 .form-item-field-product-course-dates-und-0-value2 {
     display: block;
 }

.views_slideshow_main  {

  .white-text, .white-text a {
   color:#fff;
   background-color:#000;
   text-decoration:none;

    .homepageslide_link {
    position:absolute;
    top:0;
    left:0;
    width:960px;
    height:360px;
    background:transparent;
    display:block;
text-indent:-9999px;
}
   
}

#views_slideshow_cycle_teaser_section_homepage_slider_block-block_1 {
   // background-color:#000;
}
.black-text, .black-text a {
  color: #000;
  text-decoration:none;
    .homepageslide_link {
    position:absolute;
    top:0;
    left:0;
    width:960px;
    height:360px;
    background:transparent;
    display:block;
text-indent:-9999px;
}
}
 h2 {
            @include font_in_em(42);
            margin:0;
            padding:0;
            line-height:0.9em;
        }
  
  .views-slideshow-cycle-main-frame-row  {
    width:960px;
    height:380px;
    #upcoming-courses {
     position: absolute;
      top: 80px;
      left:350px;
      .views-row {
        float:left;
        width:143px;
        margin-right:35px;
        .grey-box {
          background-color:#cfcfcf;
          height:146px;
          padding:20px;
          margin-bottom:20px;
        }
       
        h3 {
          @include font_in_em(42);
          margin:0;
          padding:0 ;
          line-height:0.7em;
        } 
        h4 {
          font-weight:normal;
           @include font_in_em(14);
           margin:0;
          padding:20px 0 0 0 ;
        }
        .date-display-single {@include font_in_em(16);font-weight:bold;}
        span.action-link a {
                background: url(../images/ec_back_small.png) repeat-x;
         @include font_in_em(16);
         font-weight:bold;
         color:#000;
        text-decoration:none;
        padding:8px 10px 5px 10px;
        display:block;
        text-align:center;
        }
         a:hover {color:#000 !important;}
       }
    }
  }
 
  .views-field-field-homepageslide-bg-image {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
  }
  .views-field-field-homepageslide-image {
    position:absolute;
    top:60px;
    right:60px;
  }
  
  .views-field-body {
    padding: 40px 40px 40px 50px ;
    width: 215px;
  }

}

.view-homepage-slider-block {
  position: relative;
  .views-slideshow-controls-top {
    position:absolute;
    bottom:10px;
    right:10px;
    z-index: 10;
  }
  .views-slideshow-controls-text-pause {
    display:none;
  }
  .views-slideshow-controls-text-previous a {
    background: url(../images/slide_controls.png) no-repeat;
    width:21px;
    height:13px;
    text-indent: -9999px;
    display: block;
    float:left;
    border:0;
    outline: none;
  }
  .views-slideshow-controls-text-next a {
    background: url(../images/slide_controls.png) no-repeat -20px 0;
    width:21px;
    height:13px;
    text-indent: -9999px;
    display: block;
    float:left;
    border:0;
    outline: none;
  }
}

#block-views-audio-recent-audio-block {
  img {margin:50px 0 50px 75px}
  h2 {@include font_in_em(16);} 
  a {font-weight: bold;text-decoration: none;}
  .audio-download {display:none}
  .view-header {margin: 10px 0 20px 0}
  .content .content div p{
    margin: 5px 0;
  }
  @include gold-bottom;
  padding-bottom:10px;
  .jp-playlist  {
    display:none;
  }
  .jp-interface {
   
  }
  .jp-progress-container {
    width: 145px;
  }
  div.jp-type-single div.jp-progress{
    width:143px;
  }
  div.jp-volume-bar-container {
    left:201px;
  }
  div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute {
    left:210px;
  }
  div.jp-audio {
    width:auto;
  }
}



/*         Inner Pages
 *************************************************/

/* about page */
.page-about { 
 .caption {font-weight:bold}
    #thumbs ul.thumbs {
       
        padding:0;
        li {
            float:left;
            margin:2px;
            list-style-type:none;
        }
    }
}

/* Courses page */
.view-courses article {
  
  .small_grey {
    display:none;
}
  position: relative;
  .course-ctas {
    position:absolute;
    right:0;
    top:40px;
    h2 {@include font_in_em(20);}
    .full {
    padding:8px 10px 5px 10px;
    display:block;
    color:#fff;
    background-color:#000;
text-align:center;
font-weight:bold;
    }
  }
  h2 {@include font_in_em(20);}
  h2:hover, .foot-link:hover {color: $gold}
  img {
    margin-bottom: 10px;
   
  }
  .head-link {
    text-decoration: none;
    color:#000;
    width:500px;
    display:block;
  }
  .foot-link {
    color:#000;
    text-decoration: none;
    font-weight: bold;
  }
  
   border-bottom: 1px solid #CBCACA;
   
   padding:20px 0 40px 0;
   
   .field {
     font-weight:bold;
   }
   .field-name-body {
     font-weight:normal;
   }
  
}

.view-courses  .views-row-first  article  {
  padding-top:0; 
  .course-ctas {
    top:20px;
    
  }
}

.view-courses  .views-row  article .course-ctas .form-item-quantity{
    display:none;
}



.view-courses .views-row-last article  {
  border-bottom: none;
}

.courses-sidebar, .tutorials-sidebar , .tutorial-sidebar {
   
  h2 {@include font_in_em(20);}
h2.last {margin-bottom:40px}
  a {
    font-weight: bold;
    @include font_in_em(16);
    text-decoration:none;
    color:#000;
  }
  a:hover {
    color:$gold;
  }
}

/* Course page */
body .event-sidebar {
    .form-item-quantity {
        display:block;
    }
}

.course-sidebar {
     .form-item-attributes-field-product-course-term label {display:none;}
  padding-top: 30px;
  .ce-medium {
    margin:35px 0 40px 0;
    width:60px;
    display:block;
text-align:center;
  }
  .field  {
    font-weight: bold;
  }
  .fb-like {margin-top:40px}
    
    .big-text {
        
        strong {@include font_in_em(20);margin-left:3px}
    }

    .form-item-quantity {
        display:none;
    }
  
}

.tutorials-sidebar .views-row {
    margin-bottom: 10px;
  }

.courses-sidebar {
  .view-id-courses .views-row {
    margin-bottom: 10px;
  }
  .view-id-events .views-row {
    margin-bottom: 10px;
  }
}

.page-courses .ce-small {
    text-align:center;
    width:60px;
}



.node-type-course-display {
aside .field-name-commerce-stock{
  @include font_in_em(100);
  line-height:0.7em;
  display:block;
}
  .field-type-entityreference {
    margin-top: 60px;
   @include gold-bottom;
    .field-label {
      @include font_in_em(28);
      margin:20px 0;
      font-weight:bold;
    }
    a {
      font-weight:bold;
      color:#000;
      text-decoration:none;
    }
    .field-items {
      padding-bottom:10px;
    }
  }
  
  
  article {
    @include gold-bottom;
  }
  
  td {padding-right:10px}


  

}

/*** Tutorials page ******/

.video-box .vjs-big-play-button {
    background: -moz-linear-gradient(center top , #454545 0%, #232323 50%, #161616 50%, #3F3F3F 100%) repeat scroll 0 0 transparent;
    border: 0.3em solid #FFFFFF;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 8px #000000;
    cursor: pointer !important;
    display: block;
    height: 8em;
    left: 150px;
    margin: -43px 0 0 -43px;
    opacity: 0.95;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 8em;
    z-index: 2;
    outline:none;
}
a.video-box .vjs-big-play-button {
  top:35px;
  left:70px;
  margin:0;
  width:5em;
  height:5em;
   outline:none;
}

.view-id-tutorial a.video-box { position:static}

.node-type-tutorial h1 {margin-top:5px;}

.video-box  div.vjs-big-play-button:hover {
    box-shadow: 0 0 80px #FFFFFF;
}
.video-box  div.vjs-big-play-button span {
    background: url("../images/video-js.png") repeat scroll -100px 0 transparent;
    display: block;
    height: 42px;
    left: 50%;
    margin: -20px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 35px;
     outline:none;
}


.page-tutorials  .view-display-id-page {
  padding-bottom: 0;
}
.view-display-id-page {
  @include gold-bottom;
  padding-bottom:20px;
}
.view-id-tutorial {
  .video-box {position:relative}
  header  {
    a {
      text-decoration:none;
      color:#000;

      font-weight:bold;
    }
    h2 {
      @include font_in_em(16);
    }
    
    
  }
  
  .views-row-last article {
    border: none;
  }
  
  article {
     border-bottom: 1px solid #CBCACA;
     padding:30px 0;
      .foot-link {
        color:#000;
        text-decoration: none;
        font-weight: bold;
    }
    
  }
}

article.node-audio {
  h2 {
    a {font-weight: bold; }
    @include font_in_em(16);
    margin:0;
  }
  .field-label, .audio-download b  {
    display:none;
  }
  p {
    margin: 0;
  }
  embed {float:left;margin: 10px}
  a.noused {width: 75px;float:left}
  .jp-playlist  {
    li {
      list-style-type:none;
      
    }
    a {
      background: url(../images/ec_back_small.png) repeat-x;
   @include font_in_em(16);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:3px 10px 5px 10px;
  display:block;
  position:absolute;
  right:-140px;
  top:-2px;
    }
  }
  .jp-type-single {
    position: relative;
  }
  
}


/* Tutorial node */

.node-type-tutorial .node-tutorial  {
  @include gold-bottom;
}

.tutorial-sidebar {
  .field-label {
        @include font_in_em(20);
        margin:20px 0;
        font-weight:bold;
      }
    
    a {
      font-weight:bold;
      color:#000;
      text-decoration:none;
    }
    .field-type-entityreference {
      @include gold-bottom;
      padding-bottom:20px;
margin-top:40px;
    }
    
 }
    
 .field-name-field-audio-file {
   margin: 10px 0;
 }   
     
  
 /* News page */
 .node-news-item .submitted {font-weight: bold;}
body.page-news article {
border-bottom: 1px solid #CBCACA;
}
body.page-news .views-row-last article {
    border-bottom:none;
}
    
/* About page */

.page-about {
  h1 {display:none;}
  h2 {@include gold-bottom;@include font_in_em(42);margin-top:5px;padding-bottom:10px; line-height: 1em;}
  hr {@include gold-bottom;border-top:none;}
}

#block-menu-menu-about-side-menu {
  li  {
    list-style-image:none;
    list-style-type: none;
    a {
      @include font_in_em(28);
          margin:20px 0;
          font-weight:bold;
          text-decoration: none;
    }
  }
  ul {padding:0;}
}

/*         Ecom
 *************************************************/


#edit-customer-profile-billing {
        .fieldset-legend { display:none; }
        .form-item {margin-bottom:0;}
}

.page-checkout-review .checkout-sidebar  {
    #course-detail-large {
    display:block;
    }
    .views-field-commerce-product ul {
    
        padding:0;
        li {
            list-style-type:none;
        }
        margin-bottom:0;
    }

    #we-accept {
        margin-top:50px;
        display:block;
        span {
            display:block;
            padding:0 0 5px 00px;
            font-weight:bold;
        }
    }

}

 
.checkout-sidebar {

    padding-top:20px;
    h2 {
        margin:30px 0 0 0;
    }
    .views-field-commerce-product ul {
        padding:0;
        li {
            list-style-type:none;
        }
        margin-bottom:0;
    }
    .big-text {
        @include font_in_em(100);
        line-height:1em;
        display:block;
        font-weight:bold;
        line-height: 0.7em;
            margin-top: 20px;

    }
    #stock-large strong {
    margin-left:3px;@include font_in_em(20);

    .views-field-quantity p {display:none}

    
    }

    form {
    display:inline;
    #quantity_change{width:120px;height:25px;margin-left:3px}

    
        }

   
        
    }
cite {font-style: normal;}

#commerce-checkout-form-checkout {
    
    #edit-commerce-coupon {
        
        legend {display:none;}
        .view-commerce-coupon-review-pane { display:none;}
    }
    .form-item-customer-profile-billing-commerce-customer-address-und-0-name-line {
        margin-top:0;
    }
    .account legend {display:none;}

 .views-field-commerce-product ul {
    
        padding:0;
        li {
            list-style-type:none;
        }
    }
    #stock-large {display:none}



}

#commerce-checkout-form-review {
    tbody, td {border:none;padding:0;}
    tr { background-color:#F1F1F1; border:none; }
    .pane-data-full li {list-style-type:none;}
    .pane-data-full ul {padding:0;}
    .r3, .pane-2 {display:none}
    .pane-3 div { margin-bottom:10px}
     .pane-6 td {padding-top:10px}
    #edit-commerce-payment legend {font-weight:bold;padding-top:10px;font-size:1.833em}
    table.checkout-review {width:100%;}
    #edit-extra-pane-node-33 legend {display:none}
    .views-field-line-item-title {width:100%}
    #edit-extra-pane-node-33 tr td {padding:7px 10px 0 0}
    .views-field-commerce-order-total {float:right}
.component-type-commerce-price-formatted-amount td {font-weight:bold;}
.views-field-nothing {clear:both;padding-top:20px}
    #edit-commerce-payment-payment-method {
        position:relative;
        div {padding: 10px 0;}
    
        .ajax-progress {
            position:absolute;
            left:200px;
            bottom:0;
        }
    }

#edit-buttons {margin-top:20px;}
#payment-details {margin-top:20px;}

}

body.page-checkout-complete #page #main {left:0;width:95%}

#views-form-commerce-cart-form-default {
    td { padding:20px }
 th { padding:20px }
}

#edit-attributes-field-product-course-term {font-weight:bold}

.view-course-terms {
    margin:20px 0;
table th {border-bottom-color:#B5AA79}
td{padding-bottom:10px;padding-top:10px;}
}

/*testimonials*/
.course-display-testimonials {
    cite {font-style:italic}

    .field .field-items {font-weight:normal;}
   .field-name-body {margin:5px 0 10px 0}
    padding:0;
    margin:0;
    
    .field-type-entityreference {margin-top:0 ;.field-items {padding-bottom:0}}
    .field-name-field-testimonial-name-linked {float:left}
    #testimonial {margin:20px 0;border-bottom: 1px solid #CBCACA;padding-bottom:20px}
}
    
.view-testimonial    {
    cite {font-style:italic}

   .views-field-body {margin:5px 0 10px 0}
    
    img {display:block;margin-bottom:5px}
   
    .views-field-field-testimonial-name-linked {float:left;margin-right: 5px;}
    .views-row {margin:20px 0;border-bottom: 1px solid #CBCACA;padding-bottom:20px}
    a{ font-weight: bold;
    text-decoration: none;}
}

#block-views-testimonial-block h2 {font-size:2em;}

#views_slideshow_cycle_div_homepage_slider_block-block_1_1 .homepageslide_link {
    color: #d0cecf;
}