/* ==== RTL support. ========================================================
This file imports all the RTL overrides for the 960 grid system
========================================================================== */

// Grid dimentions
$ninesixty-grid-width: [grid-width];
$ninesixty-columns: [columns];
$ninesixty-gutter-width: [gutter-width];

// Sidebars widths
$sidebar-first: [sidebar-first];
$sidebar-second: [sidebar-second];


@import "960/grid";
@import "base";
@import "960-rtl";


/* 
 * Layout for large viewports - default.
 */
@import "sasson-base"; 
#logo {
  float: right;
}

/* 
 * Layout for medium viewports
 */
@media (max-width: [narrow]) {
  @import "sasson-narrow"; 
}

/* 
 * Layout for small viewports
 */  
@media (max-width: [narrower]) {
  @import "sasson-narrower"; 
}

/* 
 * Layout for smallest viewports
 */
@media (max-width: [narrowest]) {
  @import "sasson-narrowest"; 
}

