/* Variables ******************************/
$gold: #b5aa79;
$base_font_size :14;
$base_font_size_px :14px; 

/* Mixins **********************************/
@mixin font_in_em($size_in_px) {
  font-size: #{$size_in_px / $base_font_size}em;
}
 

@mixin gold-bottom {
  border-bottom:13px solid $gold;
}
@mixin back-stripe {
    background:url(../images/bg_stripe.png) repeat;
    li {
        list-style-image:none;
        list-style-type:none;
    }
}

/* General Styles (Colors, Backgrounds etc.)*/

body {font:arial;}

.block {padding-top:20px}

#block-system-main{padding-top:0;}

h1 {clear:both;}

 #main {
    padding-top: 40px;
     h2,h1 {margin-top:0}
}



.field-name-body p a {text-decoration: underline}

.hide {display:none;}

.hider-faq b {
    cursor: pointer;
    font-size: 15px;
}
.hider-faq b:hover {
    color:$gold;
}

p { @include font_in_em(13); } 

ul {margin:0;}

#main ,#footer, #header{
  @include alpha;
  @include omega;
  width:100%;
}
body {
  background-color: #f1f1f1;
}


body .contextual-links-region {
  position: static;
}

.small_grey {
    @include font_in_em(12);
}



hr.gold {@include gold-bottom;border-top:none;}

body a.ce-big:hover , body a.ce-medium:hover , body a.ce-small:hover  {
  color:#000 !important;
}

body a {outline:none;color: #000;font-weight: normal; }

body a:visited  {outline:none;color: #000;font-weight: normal;outline: none; }

body a:active {outline:none;}

body a:focus {outline:none;}

body a:hover {
 color:$gold;
}