a.ce-big {
  background: url(../images/ec_back_big.png) repeat-x;
   @include font_in_em(28);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:15px 15px 10px;
  width:125px;
  display:block;
}

.ce-medium {
background-color:$gold;
   @include font_in_em(10);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:5px 10px 5px 10px;
 border:none;
min-width:80px;

}

.ce-small {
  background: url(../images/ec_back_small.png) repeat-x;
   @include font_in_em(16);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:8px 10px 5px 10px;
  display:block;
}
