footer#footer {
    border-top: 1px solid #BFBFBF;
    padding-top: 20px;
    margin: 50px 0 20px 0;
    ul {
        display: block;
        width: 350px;
        margin: 0 auto;
    }
    ul li {
        list-style-type: none;
        float: left;
        margin-right: 20px;
    }
    a {
        text-decoration: none;
    }
    .block {
        float: left;
        margin: 0 17px;
        width: 285px;
        padding-bottom: 25px;
        p {
            padding-right: 70px;
            font-size:11px;
        }
        h2 {
            margin: 0 0 20px 0;
            @include font_in_em(20);
            font-family: arial;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                float: none;
                margin: 5px 0px;
                a {
                    font-size: 12px;
                }
            }
        }
        img {
            margin-bottom: 10px;
        }
        i {
            font-size: 18px;
            color: grey;
            margin: 3px 7px 0 0;
        }
    }
}
