body.front #main{padding-top:0}

.region-front-top .block {padding-top:0}

.block-sos-blocks {
    span {
        color: $gold;
        font-size: 20px;
        font-style: italic;
    }
}
#block-sos-blocks-sos-instagram, #block-sos-blocks-sos-instagram-2 {
    height: 200px;
    img {
        border: 2px solid black;
        margin: 0 5px 5px 0;
    }
    p {
        font-size: 12px;
    }
}
#show-reel {
    height: 443px;
    width: 100%;
}
.block-simplenews {
    h2 {
        background: url(../images/letter.png) 170px 4px no-repeat;
        width:100%;
    }
}
#block-sos-blocks-sos-connect {
    a {
        color: grey;
        font-size: 42px;
        float: left;
        margin: 0 10px 10px 10px;
    }
    
    a.cloud  {font-size:36px;padding-top:5px;}
    
}

.front-row {
    border-top: 1px solid #BFBFBF;
    clear: both;
    .view-id-blog {
        p {
            font-size: 12px;
        }
    }
    h2 {
        margin-left: 17px;
        @include font_in_em(20);
        font-family: arial;
        
    }
    .block-views {
        h3 {
            @include font_in_em(15);
            font-family: arial;
            text-decoration: none;
            height: 40px;
        }
        a {
            text-decoration: none;
        }
    }
    #block-views-blog-block {
        h3 {
            margin-top: 0;
        }
    }
}
.block-sos-blocks #twitter-widget-0 {
    margin-left: -10px;
}
.front-row .region-front-row-three {
    section {
        width: 220px;
        float: left;
        margin-left: 20px;
    }
    h2 {
        margin-left: 0;
    }
}
.front-column {
    float: left;
    margin: 0 17px;
    width: 285px;
    padding-bottom: 25px;
}
.fc-three {
    @include omega;
    margin-right: 0 !important;
}
.fc-one {
    @include alpha;
    margin-left: 0 !important;
}
#block-views-news-block {
    a {
        text-decoration: none;
        color: #000;
        display: block;
        margin-bottom: 15px;
    }
    img {
        margin-bottom: 10px;
    }
    .views-row {
        border-bottom: 1px solid #cbcaca;
        padding: 20px 0 10px 0;
        a:hover {
            color: #000 !important;
        }
    }
    p {
        margin: 0;
    }
    h2 {
        @include font_in_em(28);
    }
    .views-row {
        h3 {
            @include font_in_em(16);
        }
        a {
            display: block;
            font-weight: bold;
            margin-top: 5px;
        }
    }
}
.front-column section#block-views-news-block, .front-column section.block-imageblock, .front-column .block-block {
    @include gold-bottom;
    margin-bottom: 20px;
}
.fc-twoh3 {
    @include font_in_em(16);
}
.front-column section.block-imageblock {
    h2 {
        display: none;
    }
    h2.main-title {
        display: block;
        @include font_in_em(16);
        margin: 40px 0 20px 0;
    }
    .block-image {
        text-align: center;
        padding-top: 30px;
    }
    a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }
}
.form-item-field-product-course-dates-und-0-value2 {
    display: block;
}
.views_slideshow_main {
    a {
        text-decoration: none;
    }
    .white-text a.homepageslide_link, .white-text a.homepageslide_link:hover {
        color: #fff;
        background-color: #000 !important;
        text-decoration: none;
    }
    .black-text a.homepageslide_link, .black-text a.homepageslide_link:hover {
        color: #000;
        text-decoration: none;
    }
    h2 {
        @include font_in_em(28);
        margin: 0;
        padding: 0;
        line-height: 0.9em;
    }
    p {
        @include font_in_em(19);
        a {
            font-size: 15px;
            color: $gold;
            text-decoration: none;
        }
    }
    .views-slideshow-cycle-main-frame-row {
        width: 960px;
        height: 380px;
        font-family:helvetica;
        #upcoming-courses {
            position: absolute;
            top: 80px;
            left: 350px;
            .views-row {
                float: left;
                width: 143px;
                margin-right: 35px;
                .grey-box {
                    background-color: #cfcfcf;
                    height: 146px;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                h3 {
                    @include font_in_em(42);
                    margin: 0;
                    padding: 0;
                    line-height: 0.7em;
                }
                h4 {
                    font-weight: normal;
                    @include font_in_em(14);
                    margin: 0;
                    padding: 20px 0 0 0;
                }
                .date-display-single {
                    @include font_in_em(16);
                    font-weight: bold;
                }
                span.action-link a {
                    background: url(../images/ec_back_small.png) repeat-x;
                    @include font_in_em(16);
                    font-weight: bold;
                    color: #000;
                    text-decoration: none;
                    padding: 8px 10px 5px 10px;
                    display: block;
                    text-align: center;
                }
                a:hover {
                    color: #000 !important;
                }
            }
        }
    }
    .views-field-field-homepageslide-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .views-field-field-homepageslide-image {
        position: absolute;
        top: 60px;
        right: 60px;
    }
    .views-field-body {
        padding: 40px 40px 40px 50px;
        width: 215px;
    }
}
.view-homepage-slider-block {
    position: relative;
    .views-slideshow-controls-top {
        position: absolute;
        bottom: -40px;
        right: 458px;
        z-index: 10;
        .views-slideshow-pager-field-item {
            float: left;
            margin: 0 5px;
            .views-content-field-homepageslide-text-color {
                background-color: #E5E5E5;
                width: 14px;
                height: 14px;
                text-indent: -9999px;
                display: block;
                float: left;
                border: 0;
                outline: none;
                cursor: pointer;
            }
        }
        .active .views-content-field-homepageslide-text-color {
            background-color: $gold;
        }
    }
    .views-slideshow-controls-text-pause {
        display: none;
    }
}