header#header {
    height: 175px;
    position: relative;
    border-bottom: 13px solid #000;
}
header #logo {
    margin-top: 50px;
}
body.front .region-header .menu li a {
    border-bottom: 13px solid #000;
}
#block-system-main-menu h2 {display:none;}
.region-header .menu {
    padding: 0;
    float: right;
    margin: 0;
    position: absolute;
    bottom: -13px;
    right: 0;
    li {
        float: left;
        list-style-image: none;
        margin: 0px;
        padding: 0;
        list-style-type: none;
        height: 43px;
        a {
            @include font_in_em(20);
            font-weight: bold;
            color: #000;
            text-decoration: none;
            height: 30px;
            display: block;
        }
        a.active {
            border-bottom: 13px solid $gold;
            color: $gold;
        }
        a:hover {
            color: $gold;
        }
        ul {
            display: none;
        }
    }
    li.active-trail a {
        border-bottom: 13px solid $gold;
        color: $gold;
    }
    .about {
        width: 83px;
    }
    .blog {
        width: 67px;
    }
    .news {
        width: 77px;
    }
    .courses {
        width: 105px;
    }
    .tutorials {
        width: 108px;
    }
    .contact {
        width: 99px;
    }
    .events {
        width: 85px;
    }
}
body.logged-in #header-back {
    top: 65px;
}
#header-back {
    background-color: #eaeaea;
    height: 175px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
}
