@mixin grid-unit-base($gutter-width: $ninesixty-gutter-width)
  display: inline
  float: right
  margin:
    left: $gutter-width / 2
    right: $gutter-width / 2

@mixin grid-prefix($n, $cols: $ninesixty-columns)
  padding-right: $ninesixty-grid-width / $cols * $n
  padding-left: 0

@mixin fluid-push($n, $cols: $ninesixty-columns)
  right: (100% / $cols) * $n
  left: auto
  +grid-move-base

@mixin fluid-pull($n, $cols: $ninesixty-columns)
  right: -(100% / $cols) * $n
  left: auto
  +grid-move-base

@mixin grid-suffix($n, $cols: $ninesixty-columns)
  padding-left: $ninesixty-grid-width / $cols * $n
  padding-right: 0

