
/* 
 * Layout for medium viewports
 */

/* ==== Media Queries for a Responsive Design. ============================
  By default we suggest 4 levels of layout :
  default - large viewport - fixed, pixel based layout, two sidebars floating (@see ninsixtyfive.scss).
  second - medium viewport - fluid, precentage based layout, two sidebars floating (@see ninsixtyfive-narrow.scss).
  third - small viewport - fluid, precentage based layout, only first one floating (@see ninsixtyfive-narrower.scss).
  forth - no media queries - simple, content first, no sidebars layout (@see ninsixtyfive-narrowest.scss).
========================================================================== */

// Three-column fluid layout
#page {
  width: 100%;
}
