
/* 
 * Layout for smallest viewports
 */

/* ==== Media Queries for a Responsive Design. ============================
  By default we suggest 4 levels of layout :
  default - large viewport - fixed, pixel based layout, two sidebars floating (@see ninsixtyfive.scss).
  second - medium viewport - fluid, precentage based layout, two sidebars floating (@see ninsixtyfive-narrow.scss).
  third - small viewport - fluid, precentage based layout, only first one floating (@see ninsixtyfive-narrower.scss).
  forth - no media queries - simple, content first, no sidebars layout (@see ninsixtyfive-narrowest.scss).
========================================================================== */

// No sidebars floats
body.two-sidebars,
body.one-sidebar.sidebar-first,
body.one-sidebar.sidebar-second {
  #main,
  #sidebar-first,
  #sidebar-second{
    @include fluid-grid($ninesixty-columns);
    right: auto;
    left: auto; /* Reset grid-pull */
  }  
}