/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * School of Synthesis theme Syntactically Awesome StyleSheet (SASS)
 *
*  Index 
 *  -----------
 *  1. General Sitewide Styles 
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebar
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
*/
/* Contain floats: h5bp.com/q */
/* Variables ******************************/
/* Mixins **********************************/
/* General Styles (Colors, Backgrounds etc.)*/
body {
  font: arial; }

.block {
  padding-top: 20px; }

#block-system-main {
  padding-top: 0; }

h1 {
  clear: both; }

#main {
  padding-top: 40px; }
  #main h2, #main h1 {
    margin-top: 0; }

.field-name-body p a {
  text-decoration: underline; }

.hide {
  display: none; }

.hider-faq b {
  cursor: pointer;
  font-size: 15px; }

.hider-faq b:hover {
  color: #b5aa79; }

p {
  font-size: 0.92857em; }

ul {
  margin: 0; }

#main, #footer, #header {
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

body {
  background-color: #f1f1f1; }

body .contextual-links-region {
  position: static; }

.small_grey {
  font-size: 0.85714em; }

hr.gold {
  border-bottom: 13px solid #b5aa79;
  border-top: none; }

body a.ce-big:hover, body a.ce-medium:hover, body a.ce-small:hover {
  color: #000 !important; }

body a {
  outline: none;
  color: #000;
  font-weight: normal; }

body a:visited {
  outline: none;
  color: #000;
  font-weight: normal;
  outline: none; }

body a:active {
  outline: none; }

body a:focus {
  outline: none; }

body a:hover {
  color: #b5aa79; }

a.ce-big {
  background: url(../images/ec_back_big.png) repeat-x;
  font-size: 2em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 15px 15px 10px;
  width: 125px;
  display: block; }

.ce-medium {
  background-color: #b5aa79;
  font-size: 0.71429em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border: none;
  min-width: 80px; }

.ce-small {
  background: url(../images/ec_back_small.png) repeat-x;
  font-size: 1.14286em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 8px 10px 5px 10px;
  display: block; }

footer#footer {
  border-top: 1px solid #BFBFBF;
  padding-top: 20px;
  margin: 50px 0 20px 0; }
  footer#footer ul {
    display: block;
    width: 350px;
    margin: 0 auto; }
  footer#footer ul li {
    list-style-type: none;
    float: left;
    margin-right: 20px; }
  footer#footer a {
    text-decoration: none; }
  footer#footer .block {
    float: left;
    margin: 0 17px;
    width: 285px;
    padding-bottom: 25px; }
    footer#footer .block p {
      padding-right: 70px;
      font-size: 11px; }
    footer#footer .block h2 {
      margin: 0 0 20px 0;
      font-size: 1.42857em;
      font-family: arial; }
    footer#footer .block ul {
      margin: 0;
      padding: 0; }
      footer#footer .block ul li {
        float: none;
        margin: 5px 0px; }
        footer#footer .block ul li a {
          font-size: 12px; }
    footer#footer .block img {
      margin-bottom: 10px; }
    footer#footer .block i {
      font-size: 18px;
      color: grey;
      margin: 3px 7px 0 0; }

body.front #main {
  padding-top: 0; }

.region-front-top .block {
  padding-top: 0; }

.block-sos-blocks span {
  color: #b5aa79;
  font-size: 20px;
  font-style: italic; }

#block-sos-blocks-sos-instagram, #block-sos-blocks-sos-instagram-2 {
  height: 200px; }
  #block-sos-blocks-sos-instagram img, #block-sos-blocks-sos-instagram-2 img {
    border: 2px solid black;
    margin: 0 5px 5px 0; }
  #block-sos-blocks-sos-instagram p, #block-sos-blocks-sos-instagram-2 p {
    font-size: 12px; }

#show-reel {
  height: 443px;
  width: 100%; }

.block-simplenews h2 {
  background: url(../images/letter.png) 170px 4px no-repeat;
  width: 100%; }

#block-sos-blocks-sos-connect a {
  color: grey;
  font-size: 42px;
  float: left;
  margin: 0 10px 10px 10px; }
#block-sos-blocks-sos-connect a.cloud {
  font-size: 36px;
  padding-top: 5px; }

.front-row {
  border-top: 1px solid #BFBFBF;
  clear: both; }
  .front-row .view-id-blog p {
    font-size: 12px; }
  .front-row h2 {
    margin-left: 17px;
    font-size: 1.42857em;
    font-family: arial; }
  .front-row .block-views h3 {
    font-size: 1.07143em;
    font-family: arial;
    text-decoration: none;
    height: 40px; }
  .front-row .block-views a {
    text-decoration: none; }
  .front-row #block-views-blog-block h3 {
    margin-top: 0; }

.block-sos-blocks #twitter-widget-0 {
  margin-left: -10px; }

.front-row .region-front-row-three section {
  width: 220px;
  float: left;
  margin-left: 20px; }
.front-row .region-front-row-three h2 {
  margin-left: 0; }

.front-column {
  float: left;
  margin: 0 17px;
  width: 285px;
  padding-bottom: 25px; }

.fc-three {
  margin-right: 0;
  margin-right: 0 !important; }

.fc-one {
  margin-left: 0;
  margin-left: 0 !important; }

#block-views-news-block a {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 15px; }
#block-views-news-block img {
  margin-bottom: 10px; }
#block-views-news-block .views-row {
  border-bottom: 1px solid #cbcaca;
  padding: 20px 0 10px 0; }
  #block-views-news-block .views-row a:hover {
    color: #000 !important; }
#block-views-news-block p {
  margin: 0; }
#block-views-news-block h2 {
  font-size: 2em; }
#block-views-news-block .views-row h3 {
  font-size: 1.14286em; }
#block-views-news-block .views-row a {
  display: block;
  font-weight: bold;
  margin-top: 5px; }

.front-column section#block-views-news-block, .front-column section.block-imageblock, .front-column .block-block {
  border-bottom: 13px solid #b5aa79;
  margin-bottom: 20px; }

.fc-twoh3 {
  font-size: 1.14286em; }

.front-column section.block-imageblock h2 {
  display: none; }
.front-column section.block-imageblock h2.main-title {
  display: block;
  font-size: 1.14286em;
  margin: 40px 0 20px 0; }
.front-column section.block-imageblock .block-image {
  text-align: center;
  padding-top: 30px; }
.front-column section.block-imageblock a {
  color: #000;
  font-weight: bold;
  text-decoration: none; }

.form-item-field-product-course-dates-und-0-value2 {
  display: block; }

.views_slideshow_main a {
  text-decoration: none; }
.views_slideshow_main .white-text a.homepageslide_link, .views_slideshow_main .white-text a.homepageslide_link:hover {
  color: #fff;
  background-color: #000 !important;
  text-decoration: none; }
.views_slideshow_main .black-text a.homepageslide_link, .views_slideshow_main .black-text a.homepageslide_link:hover {
  color: #000;
  text-decoration: none; }
.views_slideshow_main h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 0.9em; }
.views_slideshow_main p {
  font-size: 1.35714em; }
  .views_slideshow_main p a {
    font-size: 15px;
    color: #b5aa79;
    text-decoration: none; }
.views_slideshow_main .views-slideshow-cycle-main-frame-row {
  width: 960px;
  height: 380px;
  font-family: helvetica; }
  .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses {
    position: absolute;
    top: 80px;
    left: 350px; }
    .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row {
      float: left;
      width: 143px;
      margin-right: 35px; }
      .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row .grey-box {
        background-color: #cfcfcf;
        height: 146px;
        padding: 20px;
        margin-bottom: 20px; }
      .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row h3 {
        font-size: 3em;
        margin: 0;
        padding: 0;
        line-height: 0.7em; }
      .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row h4 {
        font-weight: normal;
        font-size: 1em;
        margin: 0;
        padding: 20px 0 0 0; }
      .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row .date-display-single {
        font-size: 1.14286em;
        font-weight: bold; }
      .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row span.action-link a {
        background: url(../images/ec_back_small.png) repeat-x;
        font-size: 1.14286em;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        padding: 8px 10px 5px 10px;
        display: block;
        text-align: center; }
      .views_slideshow_main .views-slideshow-cycle-main-frame-row #upcoming-courses .views-row a:hover {
        color: #000 !important; }
.views_slideshow_main .views-field-field-homepageslide-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
.views_slideshow_main .views-field-field-homepageslide-image {
  position: absolute;
  top: 60px;
  right: 60px; }
.views_slideshow_main .views-field-body {
  padding: 40px 40px 40px 50px;
  width: 215px; }

.view-homepage-slider-block {
  position: relative; }
  .view-homepage-slider-block .views-slideshow-controls-top {
    position: absolute;
    bottom: -40px;
    right: 458px;
    z-index: 10; }
    .view-homepage-slider-block .views-slideshow-controls-top .views-slideshow-pager-field-item {
      float: left;
      margin: 0 5px; }
      .view-homepage-slider-block .views-slideshow-controls-top .views-slideshow-pager-field-item .views-content-field-homepageslide-text-color {
        background-color: #E5E5E5;
        width: 14px;
        height: 14px;
        text-indent: -9999px;
        display: block;
        float: left;
        border: 0;
        outline: none;
        cursor: pointer; }
    .view-homepage-slider-block .views-slideshow-controls-top .active .views-content-field-homepageslide-text-color {
      background-color: #b5aa79; }
  .view-homepage-slider-block .views-slideshow-controls-text-pause {
    display: none; }

header#header {
  height: 175px;
  position: relative;
  border-bottom: 13px solid #000; }

header #logo {
  margin-top: 50px; }

body.front .region-header .menu li a {
  border-bottom: 13px solid #000; }

#block-system-main-menu h2 {
  display: none; }

.region-header .menu {
  padding: 0;
  float: right;
  margin: 0;
  position: absolute;
  bottom: -13px;
  right: 0; }
  .region-header .menu li {
    float: left;
    list-style-image: none;
    margin: 0px;
    padding: 0;
    list-style-type: none;
    height: 43px; }
    .region-header .menu li a {
      font-size: 1.42857em;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      height: 30px;
      display: block; }
    .region-header .menu li a.active {
      border-bottom: 13px solid #b5aa79;
      color: #b5aa79; }
    .region-header .menu li a:hover {
      color: #b5aa79; }
    .region-header .menu li ul {
      display: none; }
  .region-header .menu li.active-trail a {
    border-bottom: 13px solid #b5aa79;
    color: #b5aa79; }
  .region-header .menu .about {
    width: 83px; }
  .region-header .menu .blog {
    width: 67px; }
  .region-header .menu .news {
    width: 77px; }
  .region-header .menu .courses {
    width: 105px; }
  .region-header .menu .tutorials {
    width: 108px; }
  .region-header .menu .contact {
    width: 99px; }
  .region-header .menu .events {
    width: 85px; }

body.logged-in #header-back {
  top: 65px; }

#header-back {
  background-color: #eaeaea;
  height: 175px;
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0; }

/* safari webkit hacks */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body .course-sidebar .field-name-field-course-display-course .commerce-add-to-cart .form-submit {
    top: 80px; }

  .node-type-course-display aside .field-name-commerce-stock {
    margin-top: -7px; } }
/* Sidebar*/
#sidebar-first {
  margin-left: 0; }
  #sidebar-first .region {
    padding: 20px 0px 0 20px; }
  #sidebar-first h2, #sidebar-first h1 {
    font-size: 1.42857em;
    font-weight: bold;
    margin: 0px 0 20px 0; }
  #sidebar-first .block {
    border-bottom: 1px solid #BFBFBF;
    padding: 20px 0; }
  #sidebar-first i {
    color: grey;
    font-size: 53px;
    margin: 0 40px 15px 0; }
  #sidebar-first .block-sos-blocks #twitter-widget-0 {
    margin-left: 0; }
  #sidebar-first #block-sos-blocks-sos-instagram-2 .content img {
    float: left; }
  #sidebar-first #block-sos-blocks-sos-connect-2 a.cloud i {
    font-size: 43px;
    margin: 2px 0 0; }

h2 a {
  font-weight: bold;
  text-decoration: none; }

h2 a:hover {
  color: #b5aa79; }

/*         Inner Pages
 *************************************************/
/* Blog */
.page-blog .view-id-blog .views-row {
  border-top: 1px solid #BFBFBF;
  padding-top: 20px; }
.page-blog .view-id-blog .views-row.views-row-first {
  border-top: none;
  padding-top: 0; }
.page-blog h1 {
  display: none; }
.page-blog .pager {
  border-top: 1px solid #BFBFBF;
  margin-top: 20px;
  padding-top: 20px;
  position: relative; }
  .page-blog .pager .pager-ellipsis {
    display: none; }
  .page-blog .pager a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none; }
  .page-blog .pager li {
    position: absolute;
    padding: 0;
    margin: 0; }
  .page-blog .pager li.pager-next {
    right: 0; }
  .page-blog .pager li.pager-previous {
    left: 0; }

.view-blog-categories .view-header a {
  font-weight: bold;
  font-size: 1.07143em; }
.view-blog-categories a {
  text-decoration: none; }
.view-blog-categories h3 {
  font-size: 1.07143em; }
  .view-blog-categories h3 a {
    font-weight: bold; }

.view-blog-items-by-category .views-row {
  margin-left: 10px; }

/* about page */
.page-about h1 {
  display: none; }
.page-about h2 {
  border-bottom: 1px solid #BFBFBF;
  font-size: 3em;
  margin-top: 5px;
  padding-bottom: 10px;
  line-height: 1em; }
.page-about hr {
  border-top: none;
  border-bottom: 1px solid #BFBFBF;
  clear: both; }
.page-about .caption {
  font-weight: bold; }
.page-about #thumbs ul.thumbs {
  padding: 0; }
  .page-about #thumbs ul.thumbs li {
    float: left;
    margin: 2px;
    list-style-type: none; }
.page-about #equipment-gallery img {
  margin: 10px; }
.page-about #people-gallery .person {
  clear: both;
  padding-bottom: 20px;
  min-height: 190px; }
  .page-about #people-gallery .person .left {
    width: 220px;
    float: left; }
    .page-about #people-gallery .person .left img {
      margin-top: 10px; }
  .page-about #people-gallery .person .right {
    float: right;
    width: 360px;
    padding-top: 12px; }

/* Courses page */
.ce-medium.dark {
  color: #000;
  background-color: #BCBEC0;
  background-image: none; }

.field-name-field-course-display-course {
  float: right;
  margin-top: 20px; }
  .field-name-field-course-display-course span {
    color: #fff;
    background-color: #000;
    font-size: 0.71429em;
    padding: 8px 10px 10px;
    display: block;
    font-weight: bold;
    text-align: center;
    width: 46px; }

.view-id-events #course-display-teaser .field-name-body {
  margin-bottom: 0; }

.view-id-events #course-display-teaser {
  position: relative; }
  .view-id-events #course-display-teaser .course-click {
    position: absolute;
    top: 350px; }

#course-display-teaser {
  width: 260px;
  height: 380px;
  padding: 15px;
  background: url(../images/front-course-back.png) no-repeat;
  float: left;
  padding: 10px; }
  #course-display-teaser h4 {
    margin: 0;
    height: 50px; }
    #course-display-teaser h4 a {
      font-size: 15px;
      text-decoration: none;
      font-weight: bold; }
  #course-display-teaser .field-name-body {
    overflow: hidden;
    width: 195px;
    padding-right: 5px;
    float: left;
    font-size: 0.85714em;
    margin: 10px 0 20px 0; }
  #course-display-teaser .commerce-product-field-commerce-price {
    font-size: 1.42857em;
    font-weight: bold;
    margin-top: 20px; }
  #course-display-teaser .attribute-widgets {
    display: none; }
  #course-display-teaser .ce-medium {
    min-width: inherit; }
  #course-display-teaser a.course-click {
    font-weight: bold;
    display: block;
    text-decoration: none;
    clear: both;
    font-size: 0.85714em; }
  #course-display-teaser .field-name-field-course-display-course span {
    padding: 5px; }
  #course-display-teaser .field-name-field-course-display-course .ce-medium.dark {
    padding: 5px; }

#course-display-teaser.event-display .field-name-field-course-display-images {
  margin-top: 10px; }

#course-display-teaser.course-display-price .field-name-body {
  width: 200px; }

.view-courses .views-row {
  width: 280px;
  float: left; }
.view-courses .views-row-odd {
  margin: 0 40px 40px 0; }

.view-courses .views-row-last article {
  border-bottom: none; }

.courses-sidebar h2, .tutorials-sidebar h2, .tutorial-sidebar h2 {
  font-size: 1.42857em; }
.courses-sidebar h2.last, .tutorials-sidebar h2.last, .tutorial-sidebar h2.last {
  margin-bottom: 40px; }
.courses-sidebar a, .tutorials-sidebar a, .tutorial-sidebar a {
  font-weight: bold;
  font-size: 1.14286em;
  text-decoration: none;
  color: #000; }
.courses-sidebar a:hover, .tutorials-sidebar a:hover, .tutorial-sidebar a:hover {
  color: #b5aa79; }

/* Course page */
body .event-sidebar .form-item-quantity {
  display: block; }

.stats {
  padding-top: 20px;
  clear: both; }
  .stats .field-label {
    width: 150px; }
  .stats .field-items {
    font-weight: normal; }
  .stats ul.inline li {
    padding: 0;
    font-weight: normal; }
  .stats #course-detail-large strong {
    width: 100px;
    float: left;
    display: block; }

.view-id-commerce_cart_summary .views-row {
  border-bottom: 1px solid #BFBFBF;
  padding-bottom: 20px; }

.course-sidebar {
  padding-top: 30px; }
  .course-sidebar form.commerce-add-to-cart .attribute-widgets {
    display: none; }
  .course-sidebar .form-item-attributes-field-product-course-term label {
    display: none; }
  .course-sidebar .ce-medium {
    margin: 35px 0 40px 0;
    width: 115px;
    display: block;
    text-align: center;
    font-size: 12px; }
  .course-sidebar .field {
    font-weight: bold; }
  .course-sidebar .fb-like {
    margin-top: 40px; }
  .course-sidebar .big-text strong {
    font-size: 20px;
    margin-left: 3px;
    float: left;
    display: block;
    width: 150px; }
  .course-sidebar .form-item-quantity {
    display: none; }
  .course-sidebar .field-name-field-course-display-course {
    float: left; }
    .course-sidebar .field-name-field-course-display-course .commerce-add-to-cart .attribute-widgets {
      margin: -20px 0 20px 40px; }
    .course-sidebar .field-name-field-course-display-course .commerce-add-to-cart .form-submit {
      position: absolute;
      top: 80px;
      left: 175px; }
  .course-sidebar .full {
    margin: 10px 0 30px 0; }
    .course-sidebar .full .ce-medium {
      margin: 0; }
    .course-sidebar .full .ce-medium.dark {
      width: auto;
      margin: 0; }
    .course-sidebar .full span {
      width: auto;
      font-size: 12px;
      padding: 5px 10px; }

.tutorials-sidebar .views-row {
  margin-bottom: 10px; }

.courses-sidebar .view-id-courses .views-row {
  margin-bottom: 10px; }
.courses-sidebar .view-id-events .views-row {
  margin-bottom: 10px; }

.page-courses .ce-small {
  text-align: center;
  width: 60px; }

.node-type-course-display #block-system-main #main {
  padding-top: 50px; }
.node-type-course-display h1 {
  font-size: 20px;
  margin-top: 0; }
.node-type-course-display aside .field-name-commerce-stock {
  font-size: 8.57143em;
  float: left;
  display: block;
  line-height: 0.9em;
  margin-right: 20px; }
.node-type-course-display #related-courses {
  margin-top: 40px; }
.node-type-course-display td {
  padding: 3px; }
.node-type-course-display .field-name-field-p-d-related-courses .even #course-display-teaser {
  margin-right: 40px; }

/*** Tutorials page ******/
.video-box .vjs-big-play-button {
  background: -moz-linear-gradient(center top, #454545 0%, #232323 50%, #161616 50%, #3F3F3F 100%) repeat scroll 0 0 transparent;
  border: 0.3em solid #FFFFFF;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 4px 4px 8px #000000;
  cursor: pointer !important;
  display: block;
  height: 8em;
  left: 150px;
  margin: -43px 0 0 -43px;
  opacity: 0.95;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 8em;
  z-index: 2;
  outline: none; }

a.video-box .vjs-big-play-button {
  top: 35px;
  left: 70px;
  margin: 0;
  width: 5em;
  height: 5em;
  outline: none; }

.view-id-tutorial a.video-box {
  position: static; }

.node-type-tutorial h1 {
  margin-top: 5px; }

.video-box div.vjs-big-play-button:hover {
  box-shadow: 0 0 80px #FFF; }

.video-box div.vjs-big-play-button span {
  background: url("../images/video-js.png") repeat scroll -100px 0 transparent;
  display: block;
  height: 42px;
  left: 50%;
  margin: -20px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 35px;
  outline: none; }

.page-tutorials .view-display-id-page {
  padding-bottom: 0; }

.view-id-tutorial .video-box {
  position: relative; }
.view-id-tutorial header a {
  text-decoration: none;
  color: #000;
  font-weight: bold; }
.view-id-tutorial header h2 {
  font-size: 1.14286em; }
.view-id-tutorial .views-row-last article {
  border: none; }
.view-id-tutorial article {
  border-bottom: 1px solid #CBCACA;
  padding: 30px 0; }
  .view-id-tutorial article .foot-link {
    color: #000;
    text-decoration: none;
    font-weight: bold; }

article.node-audio h2 {
  font-size: 1.14286em;
  margin: 0; }
  article.node-audio h2 a {
    font-weight: bold; }
article.node-audio .field-label, article.node-audio .audio-download b {
  display: none; }
article.node-audio p {
  margin: 0; }
article.node-audio embed {
  float: left;
  margin: 10px; }
article.node-audio a.noused {
  width: 75px;
  float: left; }
article.node-audio .jp-playlist li {
  list-style-type: none; }
article.node-audio .jp-playlist a {
  background: url(../images/ec_back_small.png) repeat-x;
  font-size: 1.14286em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 3px 10px 5px 10px;
  display: block;
  position: absolute;
  right: -140px;
  top: -2px; }
article.node-audio .jp-type-single {
  position: relative; }

/* Tutorial node */
.node-type-tutorial .node-tutorial {
  border-bottom: 13px solid #b5aa79; }

.tutorial-sidebar .field-label {
  font-size: 1.42857em;
  margin: 20px 0;
  font-weight: bold; }
.tutorial-sidebar a {
  font-weight: bold;
  color: #000;
  text-decoration: none; }
.tutorial-sidebar .field-type-entityreference {
  border-bottom: 13px solid #b5aa79;
  padding-bottom: 20px;
  margin-top: 40px; }

.field-name-field-audio-file {
  margin: 10px 0; }

/* Comments */
.form-item-homepage {
  display: none; }

#comments {
  border-top: 1px solid #BFBFBF;
  margin-top: 50px; }
  #comments .links li {
    padding: 0; }
  #comments .c-reply {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #F1F2F2; }
  #comments .c-wrap {
    background: none repeat scroll 0 0 #E6E7E8;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px; }
  #comments .submitted {
    font-weight: normal;
    font-size: 0.8em;
    display: block;
    width: auto; }
  #comments h4 {
    margin: 0;
    font-size: 1.07143em; }
  #comments h2 {
    margin: 30px 0 10px 0;
    font-size: 1.42857em; }
  #comments .field-name-comment-body {
    margin-top: 20px; }
    #comments .field-name-comment-body p {
      text-align: left; }
    #comments .field-name-comment-body .filter-wrapper {
      display: none; }

fieldset.captcha legend, fieldset.captcha .fieldset-description {
  display: none; }

section#comment-form-wrapper {
  margin-top: 40px; }

.view-display-id-blog_categories_block a.active {
  color: #b5aa79; }

/* News page */
.view-blog .node-teaser header a {
  text-decoration: none; }
.view-blog .node-teaser h2 {
  font-size: 1.42857em; }

.node-news-item .submitted {
  font-weight: bold;
  width: 70px;
  float: left;
  margin: 0;
  font-size: 0.92857em; }
.node-news-item .blog_sm {
  height: 40px; }
  .node-news-item .blog_sm .post-header-comment {
    padding: 1px 5px 0 5px;
    background-color: #000;
    float: left;
    display: block; }
    .node-news-item .blog_sm .post-header-comment span {
      background: transparent url(../images/comments-arrow.png) no-repeat right bottom;
      padding: 2px 5px 5px;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 0.9em; }
  .node-news-item .blog_sm .twitter-share-button {
    float: left; }
  .node-news-item .blog_sm .fb_edge_widget_with_comment {
    float: left; }
  .node-news-item .blog_sm .a2a_dd {
    float: left;
    margin-right: 20px;
    text-decoration: none;
    padding: 1px 5px 0px 20px;
    font-size: 0.9em;
    color: #fff;
    font-weight: bold;
    display: inline;
    background: url(../images/share-cross.png) no-repeat 5px 3px #000; }

body.page-news article {
  border-bottom: 1px solid #CBCACA; }

body.page-news .views-row-last article {
  border-bottom: none; }

#related-posts {
  height: 390px; }
  #related-posts h4 a {
    font-weight: bold;
    font-size: 1.07143em;
    text-decoration: none;
    margin-bottom: 20px;
    display: block; }
  #related-posts p {
    padding-top: 10px;
    font-size: 0.85714em; }
  #related-posts h2 {
    padding: 10px 0; }

#related-courses .even article {
  margin-right: 40px; }

.related {
  clear: both;
  border-top: 1px solid #BFBFBF; }
  .related ul {
    margin: 0;
    padding: 0; }
  .related li {
    list-style: none;
    float: left;
    width: 280px; }
  .related .views-row-first {
    margin-right: 40px; }
  .related .even li {
    margin-right: 40px; }
  .related .field-type-entityreference .field-label {
    font-size: 1.42857em;
    margin: 20px 0;
    font-weight: bold; }
  .related .field-type-entityreference a {
    font-weight: bold;
    text-decoration: none; }
  .related .field-type-entityreference .field-items {
    padding-bottom: 10px; }
  .related h3 {
    font-size: 15px; }

/* About page */
#block-menu-menu-about-side-menu li {
  list-style-image: none;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0; }
  #block-menu-menu-about-side-menu li a {
    font-size: 1.42857em;
    font-weight: bold;
    text-decoration: none;
    font-family: arial; }
#block-menu-menu-about-side-menu ul {
  padding: 0; }

/*         Ecom
 *************************************************/
#edit-customer-profile-billing .fieldset-legend {
  display: none; }
#edit-customer-profile-billing .form-item {
  margin-bottom: 0; }

.page-checkout #sidebar-first .region {
  padding: 0; }

.page-checkout-review .checkout-sidebar #course-detail-large {
  display: block; }
.page-checkout-review .checkout-sidebar .views-field-commerce-product ul {
  padding: 0;
  margin-bottom: 0; }
  .page-checkout-review .checkout-sidebar .views-field-commerce-product ul li {
    list-style-type: none; }
.page-checkout-review .checkout-sidebar #we-accept {
  margin-top: 50px;
  display: block; }
  .page-checkout-review .checkout-sidebar #we-accept span {
    display: block;
    padding: 0 0 5px 00px;
    font-weight: bold; }

.checkout-sidebar {
  padding-top: 40px; }
  .checkout-sidebar .region {
    padding: 0; }
  .checkout-sidebar h2 {
    margin: 30px 0 0 0; }
  .checkout-sidebar .views-field-commerce-product ul {
    padding: 0;
    margin-bottom: 0; }
    .checkout-sidebar .views-field-commerce-product ul li {
      list-style-type: none; }
  .checkout-sidebar .big-text {
    font-size: 8.57143em;
    line-height: 1em;
    display: block;
    font-weight: bold;
    line-height: 0.7em;
    margin: 20px 20px 30px 0;
    float: left; }
  .checkout-sidebar #stock-large strong {
    margin-left: 3px;
    font-size: 1.42857em; }
    .checkout-sidebar #stock-large strong .views-field-quantity {
      width: 150px; }
      .checkout-sidebar #stock-large strong .views-field-quantity p {
        display: none; }
  .checkout-sidebar form {
    display: inline; }
    .checkout-sidebar form #quantity_change {
      width: 120px;
      height: 25px;
      margin-left: 3px; }

cite {
  font-style: normal; }

#commerce-checkout-form-checkout #edit-commerce-coupon legend {
  display: none; }
#commerce-checkout-form-checkout #edit-commerce-coupon .view-commerce-coupon-review-pane {
  display: none; }
#commerce-checkout-form-checkout .form-item-customer-profile-billing-commerce-customer-address-und-0-name-line {
  margin-top: 0; }
#commerce-checkout-form-checkout .account legend {
  display: none; }
#commerce-checkout-form-checkout .views-field-commerce-product ul {
  padding: 0; }
  #commerce-checkout-form-checkout .views-field-commerce-product ul li {
    list-style-type: none; }
#commerce-checkout-form-checkout #stock-large {
  display: none; }

#commerce-checkout-form-review tbody, #commerce-checkout-form-review td {
  border: none;
  padding: 0; }
#commerce-checkout-form-review tr {
  background-color: #F1F1F1;
  border: none; }
#commerce-checkout-form-review .pane-data-full li {
  list-style-type: none; }
#commerce-checkout-form-review .pane-data-full ul {
  padding: 0; }
#commerce-checkout-form-review .r3, #commerce-checkout-form-review .pane-2 {
  display: none; }
#commerce-checkout-form-review .pane-3 div {
  margin-bottom: 10px; }
#commerce-checkout-form-review .pane-6 td {
  padding-top: 10px; }
#commerce-checkout-form-review #edit-commerce-payment legend {
  font-weight: bold;
  padding-top: 10px;
  font-size: 1.833em; }
#commerce-checkout-form-review table.checkout-review {
  width: 100%; }
#commerce-checkout-form-review .views-field-line-item-title {
  width: 100%; }
#commerce-checkout-form-review #edit-extra-pane-node-33 {
  padding: 20px 0; }
  #commerce-checkout-form-review #edit-extra-pane-node-33 tr td {
    padding: 7px 10px 0 0; }
  #commerce-checkout-form-review #edit-extra-pane-node-33 legend {
    display: none; }
  #commerce-checkout-form-review #edit-extra-pane-node-33 thead {
    font-size: 20px; }
  #commerce-checkout-form-review #edit-extra-pane-node-33 th {
    border: 0; }
  #commerce-checkout-form-review #edit-extra-pane-node-33 .views-field-commerce-order-total {
    font-size: 20px;
    margin-top: 10px; }
#commerce-checkout-form-review .views-field-commerce-order-total {
  float: right; }
#commerce-checkout-form-review .component-type-commerce-price-formatted-amount td {
  font-weight: bold; }
#commerce-checkout-form-review .views-field-nothing {
  clear: both;
  padding-top: 20px; }
#commerce-checkout-form-review #edit-commerce-payment-payment-method {
  position: relative; }
  #commerce-checkout-form-review #edit-commerce-payment-payment-method div {
    padding: 10px 0; }
  #commerce-checkout-form-review #edit-commerce-payment-payment-method .ajax-progress {
    position: absolute;
    left: 200px;
    bottom: 0; }
#commerce-checkout-form-review #edit-buttons {
  border-bottom: 1px solid #b5aa79;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold; }
  #commerce-checkout-form-review #edit-buttons .ce-medium {
    font-size: 20px; }
  #commerce-checkout-form-review #edit-buttons .checkout-back {
    font-weight: bold;
    margin-right: 100px; }
#commerce-checkout-form-review #payment-details {
  margin-top: 20px; }
#commerce-checkout-form-review .field-name-field-commerce-customer-phone .field-label {
  font-weight: normal;
  float: left; }
#commerce-checkout-form-review .pane-title {
  font-size: 20px; }
#commerce-checkout-form-review #edit-checkout-review {
  border-bottom: 1px solid #b5aa79;
  padding-bottom: 30px; }
#commerce-checkout-form-review .pane-data-full {
  padding: 20px 0 0 10px; }
#commerce-checkout-form-review #edit-commerce-payment {
  border-top: 1px solid #b5aa79; }
  #commerce-checkout-form-review #edit-commerce-payment legend {
    float: left; }
  #commerce-checkout-form-review #edit-commerce-payment .fieldset-wrapper {
    clear: both; }
#commerce-checkout-form-review .checkout-back {
  font-size: 20px;
  color: #000; }
#commerce-checkout-form-review .date-display-single {
  font-size: 14px; }

body.page-checkout-complete #page #main {
  left: 0;
  width: 95%; }

#views-form-commerce-cart-form-default td {
  padding: 20px; }
#views-form-commerce-cart-form-default th {
  padding: 20px; }

#edit-attributes-field-product-course-term {
  font-weight: bold; }

.view-course-terms {
  margin: 20px 0; }
  .view-course-terms table {
    width: 100%; }
  .view-course-terms table thead tr {
    background-color: #fff !important; }
  .view-course-terms table th {
    border-bottom: 1px solid #B5AA79;
    font-size: 12px;
    background-color: none; }
  .view-course-terms table tbody {
    font-size: 13px; }
  .view-course-terms td {
    padding-bottom: 10px;
    padding-top: 10px; }
  .view-course-terms .views-row-first {
    background-color: #b5aa79; }
  .view-course-terms .views-field-field-product-course-end-date, .view-course-terms .views-field-field-product-course-end-time {
    width: 110px; }
  .view-course-terms .views-field-commerce-stock {
    text-align: center; }
  .view-course-terms .views-field-nothing-1 {
    width: 60px; }
    .view-course-terms .views-field-nothing-1 a {
      height: 35px;
      left: 0;
      position: absolute;
      text-align: right;
      width: 600px; }
    .view-course-terms .views-field-nothing-1 a:hover {
      color: #000; }

/*testimonials*/
.course-display-testimonials {
  padding: 20px 0 10px 0;
  margin: 0; }
  .course-display-testimonials cite {
    font-style: italic;
    font-size: 13px; }
  .course-display-testimonials .field .field-items {
    font-weight: normal; }
  .course-display-testimonials .field-name-body {
    margin: 5px 0 10px 0; }
  .course-display-testimonials .field-type-entityreference {
    margin-top: 0; }
    .course-display-testimonials .field-type-entityreference .field-items {
      padding-bottom: 0; }
  .course-display-testimonials .field-name-field-testimonial-name-linked {
    float: left; }
  .course-display-testimonials #testimonial {
    margin: 20px 0;
    border-bottom: 1px solid #CBCACA;
    padding-bottom: 20px; }

.view-testimonial {
  font-size: 11px; }
  .view-testimonial cite {
    font-style: italic; }
  .view-testimonial .views-field-body {
    margin: 5px 0 10px 0; }
  .view-testimonial img {
    display: block;
    padding-right: 10px;
    float: left; }
  .view-testimonial .views-field-field-testimonial-name-linked {
    float: left;
    margin-right: 5px; }
  .view-testimonial .views-row {
    margin: 20px 0;
    padding-bottom: 20px; }
  .view-testimonial a {
    font-weight: bold;
    text-decoration: none; }

#block-views-testimonial-block h2 {
  font-size: 1.42857em; }

/*# sourceMappingURL=main.css.map */
