/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * School of Synthesis theme Syntactically Awesome StyleSheet (SASS)
 *
*  Index 
 *  -----------
 *  1. General Sitewide Styles 
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebar
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
*/

@import "framework/css3";
@import "framework/960/grid";
@import "framework/base";

@import "partials/base";
@import "partials/buttons";
@import "partials/footer";
@import "partials/frontpage";
@import "partials/header";


/* safari webkit hacks */

    @media screen and (-webkit-min-device-pixel-ratio:0) {
body .course-sidebar .field-name-field-course-display-course .commerce-add-to-cart .form-submit {
    top:80px;
        }
        .node-type-course-display aside .field-name-commerce-stock {
            margin-top:-7px;
        }

}

/* Sidebar*/
#sidebar-first {
    @include alpha;
    .region {
        padding: 20px 0px 0 20px;
    }
    h2, h1 {
        @include font_in_em(20);
        font-weight: bold;
        margin: 0px 0 20px 0;
    }
    .block {
        border-bottom: 1px solid #BFBFBF;
        padding: 20px 0;
    }

    i {
        color: grey;
        font-size: 53px;
        margin: 0 40px 15px 0;
    }
    
    .block-sos-blocks #twitter-widget-0 {margin-left:0}
    
    #block-sos-blocks-sos-instagram-2 .content img {float:left;}
    
    #block-sos-blocks-sos-connect-2 a.cloud i  {
    font-size: 43px; 
    margin: 2px 0 0;
        
    }
}

h2 a {
   font-weight:bold;text-decoration:none;
}
h2 a:hover {
  color:$gold;
    }
   



/*         Inner Pages
 *************************************************/

/* Blog */
.page-blog {
    
    .view-id-blog .views-row { border-top: 1px solid #BFBFBF;padding-top:20px;}
    
    .view-id-blog .views-row.views-row-first { border-top: none;padding-top:0}
    
    h1 {display:none;}
    .pager {
        border-top: 1px solid #BFBFBF;
        margin-top: 20px;
        padding-top: 20px;
        position: relative;
        .pager-ellipsis {
            display: none;
        }
        a {
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
        }
        li {
            position: absolute;
            padding: 0;
            margin: 0;
        }
        li.pager-next {
            right: 0;
        }
        li.pager-previous {
            left: 0;
        }
    }
}
.view-blog-categories {
    .view-header a {
        font-weight: bold;
        @include font_in_em(15);
    }
    a {
        text-decoration: none;
    }
    h3 {
        @include font_in_em(15);
        a {
            font-weight: bold;
        }
    }
    .views-row {
        
    }
}

.view-blog-items-by-category {
    .views-row {margin-left:10px;}
}

/* about page */
.page-about {
    h1 {
        display: none;
    }
    h2 {
        border-bottom: 1px solid #BFBFBF;
        @include font_in_em(42);
        margin-top: 5px;
        padding-bottom: 10px;
        line-height: 1em;
    }
    hr {
        border-top: none;
        border-bottom: 1px solid #BFBFBF;
        clear:both;
    }
    .caption {
        font-weight: bold;
    }
    #thumbs ul.thumbs {
        padding: 0;
        li {
            float: left;
            margin: 2px;
            list-style-type: none;
        }
    }
    #equipment-gallery img {
        margin: 10px;
    }
    #people-gallery {
        .person {
            clear: both;
            padding-bottom: 20px;
            min-height: 190px;
            .left {
                width: 220px;
                float: left;
                img {
                    margin-top: 10px;
                }
            }
            .right {
                float: right;
                width: 360px;
                padding-top: 12px;
            }
        }
    }
}


/* Courses page */
.ce-medium.dark {color:#000;background-color:#BCBEC0;background-image:none}
.field-name-field-course-display-course {
        float:right;margin-top:20px;
         
         span {color:#fff;background-color:#000;@include font_in_em(10);padding:8px 10px 10px;display:block;font-weight:bold;text-align:center;width:46px}
         
 }
 
 .view-id-events #course-display-teaser .field-name-body {
   margin-bottom:0;  
}

.view-id-events #course-display-teaser {
    position:relative;
    .course-click {
    position:absolute;
    top:350px;
    }
}

#course-display-teaser {
    width:260px; 
    height:380px;
    padding:15px;
    background: url(../images/front-course-back.png) no-repeat; 
    float:left;
    h4 {
        margin:0;
        height:50px;
        a {
            font-size:15px;
            text-decoration:none;
            font-weight:bold
        }
    }
    padding:10px;
    .field-name-body {
        overflow:hidden;
        width:195px;
        padding-right:5px;
        float:left;
        @include font_in_em(12);
        margin:10px 0 20px 0;
    }
    .commerce-product-field-commerce-price {
        @include font_in_em(20);
        font-weight:bold;
        margin-top:20px;
    } 
    .attribute-widgets {display:none;}
    .ce-medium { min-width:inherit;}
    a.course-click {font-weight:bold;display:block;text-decoration:none;clear:both;@include font_in_em(12);} 
.field-name-field-course-display-course {
    span {padding:5px}
    .ce-medium.dark{padding:5px;}
}
}

#course-display-teaser.event-display {
   
    .field-name-field-course-display-images {margin-top:10px}
    }
    
#course-display-teaser.course-display-price {
    .field-name-body {width:200px}
    }

.view-courses  {
   .views-row {width:280px;
    float:left;}
    .views-row-odd {margin:0 40px 40px 0;}
}



.view-courses .views-row-last article  {
  border-bottom: none;
}

.courses-sidebar, .tutorials-sidebar , .tutorial-sidebar {
   
  h2 {@include font_in_em(20);}
h2.last {margin-bottom:40px}
  a {
    font-weight: bold;
    @include font_in_em(16);
    text-decoration:none;
    color:#000;
  }
  a:hover {
    color:$gold;
  }
}

/* Course page */
body .event-sidebar {
    .form-item-quantity {
        display:block;
    }
}
 .stats {
       padding-top:20px;
        clear:both;
        .field-label{width:150px;}
        .field-items {font-weight:normal}
        ul.inline li {padding:0;font-weight:normal}
        #course-detail-large {
        strong {width:100px;float:left;display:block;}    
        }
}
.view-id-commerce_cart_summary .views-row {
     border-bottom: 1px solid #BFBFBF;
        padding-bottom:20px;
}
.course-sidebar {

  form.commerce-add-to-cart .attribute-widgets {
    display: none;
  }
   
     .form-item-attributes-field-product-course-term label {display:none;}
  padding-top: 30px;
  .ce-medium {
    margin:35px 0 40px 0;
    width:115px;
    display:block;
    text-align:center;
font-size:12px;
  }
  .field  {
    font-weight: bold;
  }
  .fb-like {margin-top:40px}
    
    .big-text {
        
        strong {font-size:20px;margin-left:3px;float:left;display:block;width:150px;}
    }

    .form-item-quantity {
        display:none;
    }
    
    .field-name-field-course-display-course {
       .commerce-add-to-cart {
           .attribute-widgets {margin:-20px 0 20px 40px;}
       .form-submit{
           position:absolute;
           top:80px;
           left:175px;
        }
        }
float:left;}

.full {
    margin:10px 0 30px 0;
    .ce-medium{margin:0;}
    .ce-medium.dark {width:auto;margin:0}
    span {width:auto;font-size:12px;
    padding:5px 10px;}
    
} 
  
}

.tutorials-sidebar .views-row {
    margin-bottom: 10px;
  }

.courses-sidebar {
  .view-id-courses .views-row {
    margin-bottom: 10px;
  }
  .view-id-events .views-row {
    margin-bottom: 10px;
  }
}

.page-courses .ce-small {
    text-align:center;
    width:60px;
}



.node-type-course-display {
   #block-system-main  #main {padding-top:50px}
    h1 {font-size:20px;margin-top:0}
aside .field-name-commerce-stock{
  @include font_in_em(120);
  float:left;
  display:block;
  line-height:0.9em;
  margin-right:20px;
}
  
 
  #related-posts {}
  
  #related-courses {margin-top:40px;}
  
  td {padding:3px}

.field-name-field-p-d-related-courses .even #course-display-teaser{margin-right:40px}


  

}

/*** Tutorials page ******/

.video-box .vjs-big-play-button {
    background: -moz-linear-gradient(center top , #454545 0%, #232323 50%, #161616 50%, #3F3F3F 100%) repeat scroll 0 0 transparent;
    border: 0.3em solid #FFFFFF;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 8px #000000;
    cursor: pointer !important;
    display: block;
    height: 8em;
    left: 150px;
    margin: -43px 0 0 -43px;
    opacity: 0.95;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 8em;
    z-index: 2;
    outline:none;
}
a.video-box .vjs-big-play-button {
  top:35px;
  left:70px;
  margin:0;
  width:5em;
  height:5em;
   outline:none;
}

.view-id-tutorial a.video-box { position:static}

.node-type-tutorial h1 {margin-top:5px;}

.video-box  div.vjs-big-play-button:hover {
    box-shadow: 0 0 80px #FFF;
}
.video-box  div.vjs-big-play-button span {
    background: url("../images/video-js.png") repeat scroll -100px 0 transparent;
    display: block;
    height: 42px;
    left: 50%;
    margin: -20px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 35px;
     outline:none;
}


.page-tutorials  .view-display-id-page {
  padding-bottom: 0;
}

.view-id-tutorial {
  .video-box {position:relative}
  header  {
    a {
      text-decoration:none;
      color:#000;

      font-weight:bold;
    }
    h2 {
      @include font_in_em(16);
    }
    
    
  }
  
  .views-row-last article {
    border: none;
  }
  
  article {
     border-bottom: 1px solid #CBCACA;
     padding:30px 0;
      .foot-link {
        color:#000;
        text-decoration: none;
        font-weight: bold;
    }
    
  }
}

article.node-audio {
  h2 {
    a {font-weight: bold; }
    @include font_in_em(16);
    margin:0;
  }
  .field-label, .audio-download b  {
    display:none;
  }
  p {
    margin: 0;
  }
  embed {float:left;margin: 10px}
  a.noused {width: 75px;float:left}
  .jp-playlist  {
    li {
      list-style-type:none;
      
    }
    a {
      background: url(../images/ec_back_small.png) repeat-x;
   @include font_in_em(16);
   font-weight:bold;
   color:#000;
  text-decoration:none;
  padding:3px 10px 5px 10px;
  display:block;
  position:absolute;
  right:-140px;
  top:-2px;
    }
  }
  .jp-type-single {
    position: relative;
  }
  
}


/* Tutorial node */

.node-type-tutorial .node-tutorial  {
  @include gold-bottom;
}

.tutorial-sidebar {
  .field-label {
        @include font_in_em(20);
        margin:20px 0;
        font-weight:bold;
      }
    
    a {
      font-weight:bold;
      color:#000;
      text-decoration:none;
    }
    .field-type-entityreference {
      @include gold-bottom;
      padding-bottom:20px;
margin-top:40px;
    }
    
 }
    
 .field-name-field-audio-file {
   margin: 10px 0;
 }   
   /* Comments */
   
   .form-item-homepage {
       display:none;
   }  

#comments {
    border-top:1px solid #BFBFBF;
    .links li {padding:0;}
    .c-reply {padding:10px 10px 10px 10px;margin-top:20px;background-color:#F1F2F2;}
    .c-wrap {background: none repeat scroll 0 0 #E6E7E8;
       padding:10px 10px 10px 10px;margin-bottom:20px}
 margin-top:50px;
    .submitted {font-weight:normal;font-size:0.8em;display:block;width:auto;}
    h4 {margin:0;@include font_in_em(15);}

    h2 {margin:30px 0 10px 0; @include font_in_em(20);}
    .field-name-comment-body {
        margin-top:20px;p {text-align:left;}  .filter-wrapper {display:none;}  
    }
    
    
    
}

fieldset.captcha {
        legend, .fieldset-description {
            display:none;
        }
    }

section#comment-form-wrapper {margin-top:40px}

.view-display-id-blog_categories_block a.active {
color:$gold
}  
  
 /* News page */
 .view-blog .node-teaser {
     header a {text-decoration:none;}
     h2 {@include font_in_em(20);}
}
 .node-news-item {
     .submitted {font-weight: bold;width:70px;float:left;margin:0;@include font_in_em(13);}
     .blog_sm {
        .post-header-comment {
            padding: 1px 5px 0 5px;
            background-color:#000;
            float:left;
            display:block;

            span {background: transparent url(../images/comments-arrow.png) no-repeat right bottom;
               padding: 2px 5px 5px;
               color: #FFFFFF;
               font-weight:bold;
               font-size:0.9em;
               }
        }

        height:40px;
        .twitter-share-button {
            float:left;
        }

        .fb_edge_widget_with_comment {float:left;}
        
        .a2a_dd {
            float:left;
            margin-right:20px;
            text-decoration:none;
            padding:1px 5px 0px 20px;
            font-size: 0.9em;
            color:#fff;
            font-weight:bold; 
            display:inline;
            background: url(../images/share-cross.png) no-repeat 5px 3px #000; 
        }
}

}
body.page-news article {
border-bottom: 1px solid #CBCACA;

}
body.page-news .views-row-last article {
    border-bottom:none;
}

#related-posts {
    h4 a{font-weight:bold;@include font_in_em(15);text-decoration:none;margin-bottom:20px;display:block;}
    p {padding-top:10px;     @include font_in_em(12);}
    
    h2 {padding:10px 0;}
    height:390px;
    
}

#related-courses {
    .even article {margin-right:40px;}
}

.related {
   
    clear:both; 
    border-top:1px solid #BFBFBF;
    ul {margin:0;padding:0;}
    li {list-style:none;float:left;width:280px;}
    .views-row-first {margin-right:40px;}
    .even li{margin-right:40px;}
    .field-type-entityreference {
        .field-label {
            @include font_in_em(20);
            margin:20px 0;
            font-weight:bold;
        }
        a {
            font-weight:bold;
 
            text-decoration:none;
        }
        .field-items {
            padding-bottom:10px;
        }
    }
    
    h3 {font-size:15px;}
}


    
/* About page */


#block-menu-menu-about-side-menu {
  li  {
    list-style-image:none;
    list-style-type: none;
    margin: 0 0 20px 0;
    padding:0;
    a {
      @include font_in_em(20);
          
          font-weight:bold;
          text-decoration: none;
          font-family:arial;
    }
  }
  ul {padding:0;}
 
}

/*         Ecom
 *************************************************/


#edit-customer-profile-billing {
        .fieldset-legend { display:none; }
        .form-item {margin-bottom:0;}
}

.page-checkout #sidebar-first .region {padding:0;}

.page-checkout-review .checkout-sidebar  {
    #course-detail-large {
        display:block;
    }
    .views-field-commerce-product ul {
        padding:0;
        li {
            list-style-type:none;
        }
        margin-bottom:0;
    }

    #we-accept {
        margin-top:50px;
        display:block;
        span {
            display:block;
            padding:0 0 5px 00px;
            font-weight:bold;
        }
    }

}

 
.checkout-sidebar {
    
    .region {padding:0;}

    padding-top:40px;
    h2 {
        margin:30px 0 0 0;
    }
    .views-field-commerce-product ul {
        padding:0;
        li {
            list-style-type:none;
        }
        margin-bottom:0;
    }
    .big-text {
        @include font_in_em(120);
        line-height:1em;
        display:block;
        font-weight:bold;
        line-height: 0.7em;
            margin: 20px 20px 30px 0;
        float:left;

    }
    #stock-large strong {
    margin-left:3px;@include font_in_em(20);

        .views-field-quantity {
 width: 150px;
            p {display:none}
            }
    
    }

    form {
    display:inline;
    #quantity_change{width:120px;height:25px;margin-left:3px}

    
        }

   
        
    }
cite {font-style: normal;}

#commerce-checkout-form-checkout {
    
    #edit-commerce-coupon {
        
        legend {display:none;}
        .view-commerce-coupon-review-pane { display:none;}
    }
    .form-item-customer-profile-billing-commerce-customer-address-und-0-name-line {
        margin-top:0;
    }
    .account legend {display:none;}

 .views-field-commerce-product ul {
    
        padding:0;
        li {
            list-style-type:none;
        }
    }
    #stock-large {display:none}



}

#commerce-checkout-form-review {
    tbody, td {border:none;padding:0;}
    tr { background-color:#F1F1F1; border:none; }
    .pane-data-full li {list-style-type:none;}
    .pane-data-full ul {padding:0;}
    .r3, .pane-2 {display:none}
    .pane-3 div { margin-bottom:10px}
     .pane-6 td {padding-top:10px}
    #edit-commerce-payment legend {font-weight:bold;padding-top:10px;font-size:1.833em}
    table.checkout-review {width:100%;}
       .views-field-line-item-title {width:100%}
    #edit-extra-pane-node-33 {
 tr td {padding:7px 10px 0 0}
 legend {display:none}
 padding:20px 0;
    thead {font-size:20px;}
    th {border:0;}
    .views-field-commerce-order-total {font-size:20px;margin-top:10px}
    }
 
    .views-field-commerce-order-total {float:right}
.component-type-commerce-price-formatted-amount td {font-weight:bold;}
.views-field-nothing {clear:both;padding-top:20px}
    #edit-commerce-payment-payment-method {
        position:relative;
        div {padding: 10px 0;}
    
        .ajax-progress {
            position:absolute;
            left:200px;
            bottom:0;
        }
    }

#edit-buttons {border-bottom:1px solid $gold;padding-bottom:20px;margin-top:20px;font-size:20px;font-weight:bold;.ce-medium{font-size:20px;}.checkout-back{font-weight:bold;margin-right:100px;}}
#payment-details {margin-top:20px;}
.field-name-field-commerce-customer-phone {.field-label{font-weight:normal;float:left}}
.pane-title {font-size:20px;}
#edit-checkout-review {border-bottom:1px solid $gold;padding-bottom:30px;}
.pane-data-full {padding:20px 0 0 10px;}

#edit-commerce-payment {border-top:1px solid $gold;legend {float:left;}.fieldset-wrapper{clear:both;}}
.checkout-back {font-size:20px;color:#000;}
.date-display-single {font-size:14px;}
}

body.page-checkout-complete #page #main {left:0;width:95%}

#views-form-commerce-cart-form-default {
    td { padding:20px; }
 th { padding:20px; }
}

#edit-attributes-field-product-course-term {font-weight:bold;}

.view-course-terms {
    margin:20px 0;
    table {width:100%;}
    table thead tr {background-color:#fff !important;}
table th {border-bottom:1px solid #B5AA79;font-size:12px;background-color:none;}
table tbody {font-size:13px}
td{padding-bottom:10px;padding-top:10px;}
.views-row-first {background-color:$gold;}
.views-field-field-product-course-end-date, .views-field-field-product-course-end-time {width:110px}
.views-field-commerce-stock {text-align:center;}
.views-field-nothing-1 {
    a {
        height: 35px;
    left: 0;
    position: absolute;
    text-align: right;
    width: 600px;
    }
        a:hover {color:#000;}
        width:60px;
    }
}

/*testimonials*/
.course-display-testimonials {
    cite {font-style:italic;font-size:13px;}
padding:20px 0 10px 0;
    .field .field-items {font-weight:normal;}
   .field-name-body {margin:5px 0 10px 0}

    margin:0;
    
    .field-type-entityreference {margin-top:0 ;.field-items {padding-bottom:0}}
    .field-name-field-testimonial-name-linked {float:left}
    #testimonial {margin:20px 0;border-bottom: 1px solid #CBCACA;padding-bottom:20px}
}
    
.view-testimonial    {
    font-size:11px;
    cite {font-style:italic}

   .views-field-body {margin:5px 0 10px 0}
    
    img {display:block;padding-right:10px;float:left;}
   
    .views-field-field-testimonial-name-linked {float:left;margin-right: 5px;}
    .views-row {margin:20px 0;padding-bottom:20px}
    a{ font-weight: bold;
    text-decoration: none;}
}

#block-views-testimonial-block h2 {@include font_in_em(20);}