/*
 * ==== Grid settings ========================================================
 * Here we set the values for the grid system
 * 
 * defaults are :
 * $ninesixty-grid-width: 960px;
 * $ninesixty-columns: 16;
 * $ninesixty-gutter-width: 20px;
 * $sidebar-first: 4;
 * $sidebar-second: 4;
 * ==========================================================================
 */
/*
 * Contain floats: h5bp.com/q
 */
/*
 * * Non responsive, simple layout.
 */
/*
 * * Layout for smallest viewports - default.
 */
/*
 * ==== Media Queries for a Responsive Design. ============================
 * By default we suggest 4 levels of layout :
 * default - large viewport - fixed, pixel based layout, two sidebars floating (@see ninsixtyfive.scss).
 * second - medium viewport - fluid, precentage based layout, two sidebars floating (@see ninsixtyfive-narrow.scss).
 * third - small viewport - fluid, precentage based layout, only first one floating (@see ninsixtyfive-narrower.scss).
 * forth - no media queries - simple, content first, no sidebars layout (@see ninsixtyfive-narrowest.scss).
 * ==========================================================================
 */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}


#featured, #footer, #header, #main, #main-menu, #secondary-menu {
  display: inline;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  width: 96.875%;
}


#logo {
  float: left;
}


#sidebar-first {
  display: inline;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  width: 30.2083%;
}


#sidebar-second {
  display: inline;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  width: 30.2083%;
}


.one-sidebar.sidebar-first #main {
  display: inline;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  width: 63.5417%;
  left: 33.3333%;
  position: relative;
}

.one-sidebar.sidebar-first #sidebar-first {
  left: -66.6667%;
  position: relative;
}


.one-sidebar.sidebar-second #main {
  display: inline;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  width: 63.5417%;
}


.two-sidebars #main {
  display: inline;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  width: 30.2083%;
  left: 33.3333%;
  position: relative;
}

.two-sidebars #sidebar-first {
  left: -33.3333%;
  position: relative;
}


/*
 * ==== Typography. ======================================
 * Custom fonts from google web fonts
 * =======================================================
 */
/*
 * ==== Clear floats. ======================================
 * @mixin in _base.scss
 * inspired by h5bp.com/q
 * =======================================================
 */
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'128';}}
#featured:after, #featured:before, #footer:after, #footer:before, #header:after, #header:before, #page:after, #page:before {
  content: "\0020";
  display: table;
  *zoom: 1;
}

#featured:after, #footer:after, #header:after, #page:after {
  clear: both;
}

#featured, #footer, #header, #page {
  zoom: 1;
}


/*
 * ==== Design Overlay. =============================================
 * Overlay a draggable image over the design for visual comparison
 * ==================================================================
 */
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'136';}}
body.show-overlay #overlay {
  position: absolute;
  z-index: 99;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: move;
  -moz-opacity: [overlay-opacity];
  -webkit-opacity: [overlay-opacity];
  -khtml-opacity: [overlay-opacity];
  opacity: [overlay-opacity];
}


/*
 * ==== Grid Background. ======================================
 * Use CSS3 gradients to creat flexible background grid "image"
 * =======================================================
 */
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'153';}}
body.show-grid #page {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(18.75%, #e6ffa8), color-stop(18.75%, #ccea7e), color-stop(81.25%, #bbd673), color-stop(81.25%, #e6ffa8), color-stop(100%, #e6ffa8));
  background-image: -moz-linear-gradient(left, #e6ffa8 15px, #ccea7e 15px, #bbd673 65px, #e6ffa8 65px, #e6ffa8 80px);
  background-image: linear-gradient(left, #e6ffa8 15px, #ccea7e 15px, #bbd673 65px, #e6ffa8 65px, #e6ffa8 80px);
  background-size: 8.3333%;
}


@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'160';}}
.toggle-grid, .toggle-overlay {
  width: 70px;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  position: fixed;
  z-index: 100;
  top: 60px;
  right: 10px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
  box-shadow: 0 0 10px rgba(0,0,0,0.50) inset;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(50%, red), color-stop(50%, green), color-stop(100%, green));
  background-image: -moz-linear-gradient(left, red 50%, green 50%, green 100%);
  background-image: linear-gradient(left, red 50%, green 50%, green 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'178';}}
.toggle-grid div, .toggle-overlay div {
  color: #777777;
  width: 46px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: white;
  text-shadow: 1px 1px 0 white;
  position: absolute;
  left: 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fefefe), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(top, #fefefe 0%, #eaeaea 100%);
  background-image: linear-gradient(top, #fefefe 0%, #eaeaea 100%);
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -ms-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'190';}}
.toggle-grid div:after, .toggle-grid div:before, .toggle-overlay div:after, .toggle-overlay div:before {
  color: white;
  text-shadow: none;
  width: 25px;
  position: absolute;
  top: 0;
  font-size: 9px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'199';}}
.toggle-grid div:before, .toggle-overlay div:before {
  content: "OFF";
  left: -24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'203';}}
.toggle-grid div:after, .toggle-overlay div:after {
  content: "ON";
  right: -24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'209';}}
@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'210';}}
.toggle-grid.off div, .toggle-overlay.off div {
  left: 24px;
}


@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'215';}}
.toggle-overlay {
  top: 90px;
}


