
/* 
 * Layout for small viewports
 */  
  
/* ==== Media Queries for Mobile-First Responsive Design. ============================
  By default we suggest 4 levels of layout :
  first - no media queries - simple, content first, no sidebars layout.
  second - small viewport - fluid, precentage based layout, only first sidebar floating.
  third - medium viewport - fluid, precentage based layout, two sidebars floating.
  forth - large viewport - fixed, pixel based layout, two sidebars floating.
========================================================================== */

// Only first sidebar or Two sidebars layout
.one-sidebar.sidebar-first,
.two-sidebars {
  #main {
    @include fluid-grid($ninesixty-columns - $sidebar-first);
    @include fluid-push($sidebar-first);
  }
  #sidebar-first  {
    @include fluid-grid($sidebar-first);
    @include fluid-pull($ninesixty-columns - $sidebar-first);
  }
  // Second sidebar, if present, is not floating
  #sidebar-second {
    @include fluid-grid($ninesixty-columns);
  }
}

// Only second sidebar layout
.one-sidebar.sidebar-second {
  #main {
    @include fluid-grid($ninesixty-columns - $sidebar-second);
  }
  #sidebar-second  {
    @include fluid-grid($sidebar-second);
    right: auto;
    left: auto; /* Reset grid-pull */
  }
}
