
/* 
 * Layout for medium viewports
 */  
  
/* ==== Media Queries for Mobile-First Responsive Design. ============================
  By default we suggest 4 levels of layout :
  first - no media queries - simple, content first, no sidebars layout.
  second - small viewport - fluid, precentage based layout, only first sidebar floating.
  third - medium viewport - fluid, precentage based layout, two sidebars floating.
  forth - large viewport - fixed, pixel based layout, two sidebars floating.
========================================================================== */

// Three-column layout
.two-sidebars #page {
  #main {
    @include fluid-grid($ninesixty-columns - $sidebar-first - $sidebar-second);
  }
  #sidebar-first {
    @include fluid-pull($ninesixty-columns - $sidebar-first - $sidebar-second);
  }
  #sidebar-second {
    @include fluid-grid($sidebar-second);
    right: auto;
    left: auto; /* Reset grid-pull */
  }
}
